<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Form</title>
</head>
<body>
<h1 th:text="${user.id == null} ? 'Add User' : 'Edit User'"></h1>
<form th:action="@{/user/save}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <label>Username:</label>
    <input type="text" th:field="*{username}">
    <label>Email:</label>
    <input type="email" th:field="*{email}">
    <label>Password:</label>
    <input type="password" th:field="*{password}">
    <button type="submit">Save</button>
</form>
<a href="/business_management/api/thymeleaf/user/list">Back to List</a>
</body>
</html>
